<section class="hero is-medium is-danger">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a href="/" class="navbar-item">
                        <h1 class="title">${title}</h1>
                    </a>
                </div>
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a href="/" class="navbar-item is-active">
                            Home
                        </a>
                        <a class="navbar-item">
                            Restaurants
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</section>

<br />
<section>
    <div class="columns is-centered">
        <div class="column content is-half has-text-centered">
            <h2>${restaurantData.restaurant_name}</h2>
            <p>${restaurantData.category}</p>
                <i class="${restaurantData.average_stars > 0 ? 'fas fa-star checked' : 'far fa-star'}"></i>
                <i class="${restaurantData.average_stars > 1 ? 'fas fa-star checked' : 'far fa-star'}"></i>
                <i class="${restaurantData.average_stars > 2 ? 'fas fa-star checked' : 'far fa-star'}"></i>
                <i class="${restaurantData.average_stars > 3 ? 'fas fa-star checked' : 'far fa-star'}"></i>
                <i class="${restaurantData.average_stars > 4 ? 'fas fa-star checked' : 'far fa-star'}"></i>
            <p>Rating: ${restaurantData.average_stars}</p>
            <p>Takeout: ${restaurantData.takeout === true ? 'Yes' : 'No'}</p>
        </div>
    </div>
</section>