<html>

<head>
    <title>${title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>

    </header>
    <main>
        ${!!is_logged_in ? `
        <a href="/users/logout">Logout</a>
        ` : `
        <a href="/users/login">Login</a>
        `}
        ${restaurants}
        ${reviews}
    </main>
    <footer>

    </footer>
<script src="https://kit.fontawesome.com/b91ebdb5e6.js" crossorigin="anonymous"></script>
</body>

</html>